<div class="relative inline-block text-left">
  <!-- Trigger -->
  <ng-container
    *ngTemplateOutlet="
      triggerTemplate;
      context: { toggleMenu: toggleMenu.bind(this) }
    "
  ></ng-container>

  <div
    *ngIf="isMenuOpen"
    class="min-w-40 origin-top-right absolute right-0 mt-2 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none z-10"
    role="menu"
    aria-orientation="vertical"
    tabindex="-1"
  >
    <div class="py-1" role="none" (click)="toggleMenu()">
      <ng-content></ng-content>
    </div>
  </div>
</div>
