<div class="relative multi-select-container">
  <button
    type="button"
    class="rounded-md w-full"
    (click)="toggleDropdown()"
    [class.opacity-50]="isDisabled"
    [class.cursor-not-allowed]="isDisabled"
    [disabled]="isDisabled"
  >
    <span *ngIf="selectedValues.length > 0; else placeholderText">
      {{ selectedValues.join(", ") }}
    </span>
    <ng-template #placeholderText>{{ placeholder }}</ng-template>
  </button>

  <div
    *ngIf="isDropdownOpen"
    class="absolute bg-white border shadow-lg mt-3 w-full z-10"
  >
    <div *ngFor="let option of options" class="p-2">
      <label class="flex items-center">
        <input
          type="checkbox"
          [checked]="isSelected(option.value)"
          (change)="toggleSelection(option.value)"
        />
        <span class="ml-2">{{ option.label }}</span>
      </label>
    </div>
  </div>
</div>
